@charset "utf-8";
@import "mix";

@font-face {
  font-family: YoungSerif;
  src: url('../fonts/YoungSerif-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: WorkSans;
  src: url('../fonts/WorkSans-Regular.otf');
  font-weight: 400;
}

$family-sans-serif: WorkSans, Helvetica, Arial, sans-serif;
$family-serif: YoungSerif, serif;

@import "~bulma/bulma";

h1, h2, h3, h4, h5, h6, .serif {
  font-family: $family-serif;
}

.app {
  font-family: $family-sans-serif;
  background: $primary;
  color: $white;
  overflow-x: hidden;
}

/**
Typography
 */
.content {
  p {
    font-size: 2rem;
    margin: 0;

    @include tablet() {
      font-size: 1.8rem;
    }
    @include mobile() {
      font-size: 1.6rem;
    }
  }
}

/**
Extra classes
TODO: remove?
 */

.flex {
  display: flex;
  justify-content: space-between;
}

.flex.center {
  justify-content: center;
}

.flex.space-around {
  justify-content: space-around;
}

/**
General
 */
.content {
  position: relative;
  z-index: 10;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/**
Buttons
 */
.oehu-btn-primary {
  background-color: $yellow !important;
  color: $black !important;
  border-color: $yellow !important;
}
